<a href="https://colab.research.google.com/github/SaraNzuki/test/blob/main/DATA_STRUCTURES_(LISTS%2CTUPLES%2CSETS%2CDICTIONARIES).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. **Lists**

In [ ]:
#creating lists with basic numbers and strings
my_list = [100,200,300,"pineapple","orange"]
print(my_list)

[100, 200, 300, 'pineapple', 'orange']

*Accessing elements*

In [ ]:
#accessing elements(indexing)
#accessing elements is sequaencial and begins from 0, so 100 is 0, 200 is 1 etc
first_element = my_list[0]
first_element

100

In [ ]:
#accessing the last element in a list of many items:
last_element = my_list[-1]
last_element

'orange'

*Slicing Lists*

In [ ]:
#accessing a part of the list; i.e. index 1-3 (sub-list),
#the last index added is normally excluded
#in the code below it will exclude 4 which is orange in the list
sub_list = my_list[1:4]
sub_list

[200, 300, 'pineapple']

*Modifying lists*

In [ ]:
#changing an element to something else eg: changing element  in index 1; 200 to berry
my_list[1] = "berry"
my_list

[100, 'berry', 300, 'pineapple', 'orange']

*Adding elements*

In [ ]:
my_list.append("400")
my_list

[100, 'berry', 300, 'pineapple', 'orange', '400']

In [ ]:
#to add elements to a specific location(insert)
#the number 1 is to show the specific index you want to insert the element to
my_list.insert(1, 200)
my_list

[100, 200, 300, 'pineapple', 'orange', '400']

*Removing elements*

In [ ]:
my_list.remove("berry")
my_list

[100, 300, 'pineapple', 'orange', '400']

# 2. Dictionaries

In [ ]:
#creating a dictionary
employee = {"name": "Sera", "age": 24, "position": "Manager"}
print(employee)

{'name': 'Sera', 'age': 24, 'position': 'Manager'}

*Accessing*

In [ ]:
#accessing an element in a dictionary(indexing)
employee_position = employee["position"]
employee_position

'Manager'

*Adding/Updating*

In [ ]:
#updating/adding key-value pairs
#adding
employee["salary"] = 70000
print(employee)

{'name': 'Sera', 'age': 24, 'position': 'Manager', 'salary': 70000}

In [ ]:
#updating
employee["salary"] = 100000
employee

{'name': 'Sera', 'age': 24, 'position': 'Manager', 'salary': 100000}

*Removing key-value pairs*

In [ ]:
#to delete a key-pair value use del for delete
del employee['age']
employee

{'name': 'Sera', 'position': 'Manager', 'salary': 100000}

In [ ]:
#length (checking the length of a variable)
#number of elements
num_items = len(employee)
print(num_items)

3

# 3. SETS

In [ ]:
#CREATING A SET
#does not allow duplicates, only stores unique values
num_set ={1,3,3,2,4,5}
num_set

{1, 2, 3, 4, 5}

In [ ]:
#adding elements
num_set.add(6)
num_set

{1, 2, 3, 4, 5, 6}

In [ ]:
#removing elements
num_set.remove(4)
num_set

{1, 2, 3, 5, 6}

In [35]:
#set operations
num_set2 ={3,6,7,7,8}
num_set2

{3, 6, 7, 8}

In [36]:
count = len(num_set2)
count

4

In [37]:
#set operation(union,intersection,difference)
# Union of two sets
union_set = num_set.union(num_set2)  # Returns {1, 2, 3, 5, 6, 7, 8}
# Explanation: union() combines all unique elements from both sets.
print(union_set)

{1, 2, 3, 5, 6, 7, 8}

In [38]:
#intersection-returns elements common to both sets
#returns 3 and 6 because it is common n both sets
intersection = num_set.intersection(num_set2)
print(intersection)

{3, 6}

In [39]:
#difference ()returns elements in the first set but not present in the second set
difference = num_set.difference(num_set2)
print(difference)

{1, 2, 5}

# 4. Turples

In [40]:
#creating a turple
coordinates = (34.0546, -118.2345)
print(coordinates)

(34.0546, -118.2345)

In [42]:
#accessing elements by index (indexing)
longitude = coordinates[1]
longitude

-118.2345

In [43]:
#modify - immutability
coordinates[0] = 40.123
print(coordinates)

TypeError: 'tuple' object does not support item assignment



1.   List item
2.   List item

# BASIC TASK 1

---

In [44]:
#STEP 1
student_scores = {"Alice": 87, "Harrison": 67, "David": 45,"Charlse": 90, "Mirriam": 78}
#step 2; score.items returns the key value pairs
for student, score in student_scores.items():
  print(f"Student: {student}, Score:{score}")
#step3
  if score >= 80:
    print("Result: excelent")
  elif 50 <= score < 80:
    print("Result: pass")
  else:
   print("Result: Fail")

   print()

Student: Alice, Score:87
Result: excelent
Student: Harrison, Score:67
Result: pass
Student: David, Score:45
Result: Fail

Student: Charlse, Score:90
Result: excelent
Student: Mirriam, Score:78
Result: pass

In [45]:
items = {"Apple","Banana","avocado","orange","Grapes","Mango"}
#step2
for item in items:
  #the for loop will go through each item
  #step 3
  if item.startswith("A"):
    print(f"{item}: Start with A")
  elif len(item) > 5:
     print(f"{item}: Long Name")
  else:
    print(f"{item}: Regular Name")

Apple: Start with A
Mango: Regular Name
Grapes: Long Name
Banana: Long Name
avocado: Long Name
orange: Long Name