<a href="https://colab.research.google.com/github/SaraNzuki/test/blob/main/DataStructures_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[ Introduction to Python Data Structures](**https://**)

Definition: Data structures are specialized formats for organizing, processing, retrieving, and storing data efficiently. By selecting the right data structure, we can optimize the performance of a program.

**[Why Data Structures are Important:](https://)**

* Efficiency: Data structures make it easy to manage large amounts of data in an organized manner, improving the efficiency of data access, modification, and retrieval.
* Optimized Operations: Data structures are crucial for optimizing computational tasks such as searching, sorting, or updating data, providing the foundation for more complex algorithms.
* Problem Solving: Correct use of data structures is key in solving a wide range of computational problems, from simple tasks like sorting and searching to complex problems like pathfinding, machine learning, and more.

***Pythonâ€™s Built-in Data Structures***: Python comes with several built-in data structures that are used frequently in data analysis and general programming:

* Lists: Ordered, mutable collections of items.
* Tuples: Ordered, immutable collections of items.
* Dictionaries: Key-value pairs for fast lookups.
* Sets: Unordered collections of unique elements.

[Mutable vs Immutable:](https://)

* Mutable: These data structures can be altered after their creation, meaning you can add, remove, or modify elements. Examples: Lists, Dictionaries, Sets.

* Immutable: These data structures cannot be changed after their creation, making them useful when you need to ensure data remains constant. Examples: Tuples, Strings.

**[1. list](https://)**

In [ ]:
#creating a list with basic of numbers and strings
my_list = [10,20,30,"apple","banana"]
print(my_list)

[10, 20, 30, 'apple', 'banana']

In [ ]:
#accessing elements(indexing)
first_element = my_list[0]
first_element

10

In [ ]:
#slicing a list
#geting a sublist from index 1 to 3
sub_list = my_list[0:3]
print(sub_list)

[10, 20, 30]

In [ ]:
#modifying elements
my_list[2] = 77
my_list

[10, 20, 77, 'apple', 'banana']

In [ ]:
#adding elements
my_list.append("Tonny")
my_list

[10, 20, 77, 'apple', 'banana', 'Tonny']

In [ ]:
#remove elements
my_list.remove("Tonny")
my_list

[10, 20, 77, 'apple', 'banana']

In [ ]:
#insert elements
my_list.insert(2, "jane")
my_list

[10, 20, 'jane', 77, 'apple', 'banana']

[**2.DICTIONARIES**](https://)

In [ ]:
#CREATING A DICTIONARY
employee = {"name": "john", "age": 45, "position": "DataSpecialist"}
print(employee)

{'name': 'john', 'age': 45, 'position': 'DataSpecialist'}

In [ ]:
#accessing(indexing)
employee_age = employee["age"]
employee_age

45

In [ ]:
#adding key-value pairs
employee["Salary"] = 70000
employee

{'name': 'john', 'age': 45, 'position': 'DataSpecialist', 'Salary': 70000}

In [ ]:
#update key-pair values
employee["name"] = "Alex"
print(employee)

{'name': 'Alex', 'age': 45, 'position': 'DataSpecialist', 'Salary': 70000}

In [ ]:
#removing
del employee["Salary"]

KeyError: 'Salary'

In [ ]:
#length
num_items = len(employee)
print(num_items)

3

**[3. SETS](https://)**

In [ ]:
#creating a set
num_set = {1,2,2,4,5,5}
num_set

{1, 2, 4, 5}

In [ ]:
#adding elements
num_set.add(10)
print(num_set)

{1, 2, 4, 5, 10}

In [ ]:
#removing elements #discard() #pop()
num_set.remove(10)
print(num_set)

{1, 2, 4, 5}

In [ ]:
#set operation(union,intersection,difference)
# Create another set
another_set = {4, 5, 6, 7, 8}

# Union of two sets
union_set = num_set.union(another_set)  # Returns {1, 2, 4, 5, 6, 7, 8}
# Explanation: union() combines all unique elements from both sets.
print(union_set)

{1, 2, 4, 5, 6, 7, 8}

In [ ]:
#intersection
intersection = num_set.intersection(another_set)
print(intersection)

{4, 5}

In [ ]:
#difference
difference = num_set.difference(another_set)
print(difference)

{1, 2}

In [ ]:
count = len(num_set)
print(count)

4

**4. TURPLES**

In [ ]:
#creating a turple
coordinates = (34.0546, -118.2345)
print(coordinates)

(34.0546, -118.2345)

In [ ]:
#accessing(indexing)
#access elements by index
latitude = coordinates[0]
print(latitude)

34.0546

In [ ]:
#modify - immutability
coordinates[0] = 40.123
print(coordinates)

TypeError: 'tuple' object does not support item assignment

BASIC TASK 1

In [ ]:
#STEP 1
student_scores = {"Alice": 87, "Harrison": 67, "David": 45,"Charlse": 90, "Mirriam": 78}
#step 2
for student, score in student_scores.items():
  print(f"Student: {student}, Score:{score}")
#step3
  if score >= 80:
    print("Result: excelent")
  elif 50 <= score < 80:
    print("Result: pass")
  else:
   print("Result: Fail")

   print()

Student: Alice, Score:87
Result: excelent
Student: Harrison, Score:67
Result: pass
Student: David, Score:45
Result: Fail

Student: Charlse, Score:90
Result: excelent
Student: Mirriam, Score:78
Result: pass

Basic 2 TASK

In [ ]:
items = {"Apple","Banana","avocado","orange","Grapes","Mango"}
#step2
for item in items:
  #the for loop will go through each item
  #step 3
  if item.startswith("A"):
    print(f"{item}: Start with A")
  elif len(item) > 5:
     print(f"{item}: Long Name")
  else:
    print(f"{item}: Regular Name")

Grapes: Long Name
Mango: Regular Name
Banana: Long Name
orange: Long Name
avocado: Long Name
Apple: Start with A

**[PYTHON FUNCTION](https://)**

BLOCK OF REUSABLE CODES THAT PERFORM A SPECIFIC TASKS
![pydefine.png]()

In [ ]:
#TONNY
def print_tonny():
 print("tonny")

 #calling function
print_tonny()
print_tonny()
print_tonny()
print_tonny()

tonny
tonny
tonny
tonny

In [ ]:
#creating a function
def greet():
    # def is the keyword to define a function
    # 'greet' is the function name, representing what the function does
    print("Hello, welcome to Python!")
    # The print() function outputs a message to the console

# Function call
greet()
# This calls the function, executing the code inside it
# Output: Hello, welcome to Python!

Hello, welcome to Python!

In [ ]:
#creating a function with parameters and arguments
def greet_person(age):
  print(f"my age is: {age}")

#calling function

greet_person(22)

my age is: 22

**[Types of function arguments](https://)**


*   Positional Arguments
*   Keyword arguments

In [ ]:
#creating function for positional arguments
def add(a, b):
  return a + b
#calling a function
result = add(4, 5)
print(result)

9

In [ ]:
#keyword arguments
#creating function for positional arguments
def add(a, b):
  return a + b
#calling a function
result = add(a=9, b=19)
print(result)

28

In [ ]:
add(a=90, b=100)

190

**Return statement**

It allows functions to send back a result or value to the part of the program that called the function

1. Task 1: Write a function that takes a list of numbers and returns both the sum and the average of the numbers.

In [ ]:
def calculate_sum_average(numbers):
  total = sum(numbers)
  average = total/len(numbers)
  return total, average

sum, average = calculate_sum_average([1,2,3,4,5])
print(f"Sum: {sum}, Average: {average}")

Sum: 15, Average: 3.0