<a href="https://colab.research.google.com/github/SaraNzuki/test/blob/main/LISTS%2C_SETS%2C_DICTIONARIES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. **Lists**

In [1]:
#creating lists with basic numbers and strings
my_list = [100,200,300,"pineapple","orange"]
print(my_list)

[100, 200, 300, 'pineapple', 'orange']

*Accessing elements*

In [3]:
#accessing elements(indexing)
#accessing elements is sequaencial and begins from 0, so 100 is 0, 200 is 1 etc
first_element = my_list[0]
first_element

100

In [5]:
#accessing the last element in a list of many items:
last_element = my_list[-1]
last_element

'orange'

*Slicing Lists*

In [7]:
#accessing a part of the list; i.e. index 1-3 (sub-list),
#the last index added is normally excluded
#in the code below it will exclude 4 which is orange in the list
sub_list = my_list[1:4]
sub_list

[200, 300, 'pineapple']

*Modifying lists*

In [9]:
#changing an element to something else eg: changing element  in index 1; 200 to berry
my_list[1] = "berry"
my_list

[100, 'berry', 300, 'pineapple', 'orange']

*Adding elements*

In [10]:
my_list.append("400")
my_list

[100, 'berry', 300, 'pineapple', 'orange', '400']

In [13]:
#to add elements to a specific location(insert)
#the number 1 is to show the specific index you want to insert the element to
my_list.insert(1, 200)
my_list

[100, 200, 300, 'pineapple', 'orange', '400']

*Removing elements*

In [12]:
my_list.remove("berry")
my_list

[100, 300, 'pineapple', 'orange', '400']

# 2. Dictionaries

In [14]:
#creating a dictionary
employee = {"name": "Sera", "age": 24, "position": "Manager"}
print(employee)

{'name': 'Sera', 'age': 24, 'position': 'Manager'}

*Accessing*

In [16]:
#accessing an element in a dictionary(indexing)
employee_position = employee["position"]
employee_position

'Manager'

*Adding/Updating*

In [18]:
#updating/adding key-value pairs
#adding
employee["salary"] = 70000
print(employee)

{'name': 'Sera', 'age': 24, 'position': 'Manager', 'salary': 70000}

In [19]:
#updating
employee["salary"] = 100000
employee

{'name': 'Sera', 'age': 24, 'position': 'Manager', 'salary': 100000}

*Removing key-value pairs*

In [20]:
#to delete a key-pair value use del for delete
del employee['age']
employee

{'name': 'Sera', 'position': 'Manager', 'salary': 100000}

In [23]:
#length (checking the length of a variable)
#number of elements
num_items = len(employee)
print(num_items)

3

# 3. SETS

In [24]:
#CREATING A SET
#does not allow duplicates, only stores unique values
num_set ={1,3,3,2,4,5}
num_set

{1, 2, 3, 4, 5}

In [25]:
#adding elements
num_set.add(6)
num_set

{1, 2, 3, 4, 5, 6}

In [27]:
#removing elements
num_set.remove(4)
num_set

{1, 2, 3, 5, 6}

In [30]:
#set operations
num_set2 ={6,7,7,8}
num_set2

{6, 7, 8}

In [31]:
count = len(num_set2)
count

3